@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", sans-serif;
}

html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

::selection { background-color: rgb(20 255 236 / 0.2); }

.hero-text {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    letter-spacing: -0.02em;
}

.ant-drawer-body {
    background-color: #212121;
}