@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

.hero-text {
    font-family: "Hammersmith One", serif;
    font-weight: 600;
    letter-spacing: 3px;
}

.ant-drawer-body {
    background-color: #212121;
    /* background-color: #323232; */
}